@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
  --BLACK: #000000;
  --WHITE: #FFFFFF;
  --GREY: #CCCCCC;
  --DARKGRAY: #5b5b5b;
  --LIGHTGRAY: #e4e0e0;
  --LIGHTBLUE: #83AECF;
  --DAKBLUE: #033BF7;
  --BLUE: #4872fb;
  --RED: #FD0E06;
  --YELLOW: #FEE100;
  --GREEN: #1FB908;

  --BACKGROUND:   --WHITE/* linear-gradient(-135deg, #001b74, var(--LIGHTBLUE)) */;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "VT323", monospace;
}

html {
  height: 100%;
  width: 100%;
  background: var(--BACKGROUND);

  display: flex;
  justify-content: center
  ;

}

body {
  width: 70%;
  height: 100vh;

  border: solid 5px var(--BLUE);
  border-radius: 3px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--DAKBLUE);
  border-radius: 3px;
}


main {
  background-color: var(--GREY);
  border: solid var(--BLACK) 2px;
}

button {
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  scale: 110%;
}

a {
  text-decoration: none;
  color: var(--BLACK);
}

link {
  cursor: pointer;
}
/* will need to change font sizing  */
h1 {
  color: var(--WHITE);
  font-weight: 900;
  font-size: 3rem 
}

h4 {
  text-decoration: underline;
}

/* PAGES */ 

.Home {
  display: grid;
  grid-template-areas:   
    "Head Head . ."
    "TxtOne TxtOne  Img Img"
    "TxtOne TxtOne Img Img"
    "TxtTwo TxtTwo TxtTwo .";

  padding: 1rem;
  gap: 0.5rem;
  background-color: var(--GREY);
  border: solid var(--BLACK) 2px;

}

.Projects {
  display: grid;
  grid-template-areas: 
    "Head Head . "
    "TxtOne TxtOne TxtOne"
    "TxtTwo TxtTwo TxtTwo"
    "TxtThree TxtThree TxtThree"
  ; 

  padding: 1rem;
  gap: 0.5rem;
  background-color: var(--GREY);
  border: solid var(--BLACK) 2px;
} 

/* COMPONENTS */

.header-buttons {
  width: 30px;
  height: 30px;

  background-color: var(--DAKBLUE);
  border: var(--WHITE) solid 2px;
  border-radius: 2px;
  color: var(--WHITE)
}

.header-button-close {
  width: 30px;
  height: 30px;

  background-color: var(--RED);
  border: var(--WHITE) solid 2px;
  color: var(--WHITE)
}

.top-buttons {
  width: 20px;
  height: 20px;

  background-color: var(--GRAY);
  border: var(--WHITE) solid 2px;
  border-radius: 2px;
  color: var(--WHITE)
}

.header-link {
  width: 150px;
  height: 35px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: solid var(--BLACK) 2px;
  border-radius: 3px;
  color: var(--BLACK);
  text-decoration: none;
  font-weight: 700;

  font-size: 1.2rem;
  background-color: var(--GREY);
  box-shadow: 3px -2px 5px var(--DARKGRAY)
}

.title-two {
  grid-area: Head;
  font-size: 2.5rem;
  padding-left: 0.5rem;
  background-color: var(--GRAY);
  border-radius: 4px;
  box-shadow: 3px -2px 5px var(--DARKGRAY)
}

.title-three {
  font-size: 1.5rem;
  text-decoration: none;
}

.project-box {
  width: 200px;
  height: 150px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  padding: 0.5rem;
  gap: 0.5rem;
  border: dashed 3px var(--BLACK);
  border-radius: 4px;

}

.top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  background-color: var(--DARKGRAY);
  width: 100%;
  height: 25px;
  cursor: move;
}

.textarea-one {
  grid-area: TxtOne;
  
  border: solid 3px var(--DARKGRAY);
  border-radius: 3px;
  gap: 1rem;
}

.img-one {
  grid-area: Img;
  width: 350px;
  height: 400px;
  
  border: solid 3px var(--DARKGRAY);
  border-radius: 3px;
  gap: 1rem;
  background:  linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);;
}

.textarea-two {
  grid-area: TxtTwo;
  border: solid 3px var(--DARKGRAY);
  border-radius: 3px;
  gap: 1rem;

}

.textarea-three {
  grid-area: TxtThree;
  border: solid 3px var(--YELLOW);
  border-radius: 3px;
  gap: 1rem;

}

.art-one {
  padding: 0.5rem;
  font-size: 1.2rem;
}

.art-two {
  padding: 0.5rem;
  gap: 05rem;

  font-size: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction:  row;

}

/* CONTAINERS */

.title-container {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  gap: 0.5rem;
}

.links-container {
  width: 100%;
  min-height: 40px;
  max-height: 60px;

  display: flex;
  justify-content: flex-start;
  align-items: end;

  gap: 0.2rem;


  background-color: var(--LIGHTGRAY);

}

.header-button-container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  width: 200px;
}

/* GRIDS */

